/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-testing-gutenberg-block {
	background: $red;
	border: 0.2rem solid $black;
	color: $black;
	margin: 0 auto;
	max-width: 740px;
	padding: 2rem;
}

.cf-articles-block {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	justify-content: center;
	
	&.extended-gap {
		margin-right: -30px;
		margin-left: -30px;
	}
	
	.cf-article-column {
		flex: 0 1 33.33%;
		overflow: hidden;
		padding: 15px;
		
		&.extended-gap {
			padding: 30px;
		}
		
		.cf-ab-featured-image {
			margin-bottom: 0;
			
			img {
				width: 100%;
				height: auto;
			}
		}
		
		h1 {
			font-weight: 500;
			font-size: 24px;
			line-height: 1.4em;
			margin: 0 0 15px 0;
		}
		
		p,
		a {
			margin: 0;
			padding: 0;
			line-height: 24px;
			font-size: 14px;
		}
		
		.cf-ab-link {
			margin-top: 15px;
			text-align: center;
			
			a {
				display: inline-block;
				text-decoration: none;
				padding: 5px 15px;
				background: #0A246A;
				color: #fff;
				transition: background-color 0.3s ease-in;
				
				&:hover {
					background: #1aa1d8;
				}
			}
		}
		
		&.one-column {
			flex: 1 0 100%;
		}
		
		&.two-columns {
			flex: 0 1 50%;
		}
		
		&.three-columns {
			flex: 0 1 33.33%;
		}
		
		&.four-columns {
			flex: 0 1 25%;
		}
		
		&.five-columns {
			flex: 0 1 20%;
		}
		
		&.six-columns {
			flex: 0 1 16.66%;
		}
	}
	
}


@media all and (max-width: 768px) {
	.cf-articles-block {
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
		justify-content: center;
		
		&.extended-gap {
			margin-right: -15px;
			margin-left: -15px;
		}
		
		.cf-article-column {
			flex: 0 1 100%;
			overflow: hidden;
			padding: 15px;
			
			&.extended-gap {
				padding: 15px;
			}
			
			&.one-column {
				flex: 1 0 100%;
			}
			
			&.two-columns {
				flex: 1 0 100%;
			}
			
			&.three-columns {
				flex: 1 0 100%;
			}
			
			&.four-columns {
				flex: 1 0 100%;
			}
			
			&.five-columns {
				flex: 1 0 100%;
			}
			
			&.six-columns {
				flex: 1 0 100%;
			}
		}
		
	}
}
